* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 16px;
  min-height: 100vh;
  background: linear-gradient(rgb(201, 228, 232), rgb(0, 0, 0));
}

.game-start-overlay {
  position: fixed;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-start-overlay .dialog-box {
  width: 190px;
  padding: 20px 30px;
  border-radius: 5px;
  color: rgb(244, 192, 94);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog-box .yes-button,
.dialog-box .no-button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
}

h1 {
  margin-bottom: 50px;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
}

.choices {
  display: flex;
  min-height: 150px;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  max-width: 700px;
  margin: 0 auto 40px;
}

.choices button {
  flex: 1;
  max-width: 180px;
  font-size: 100px;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.choices button:hover {
  opacity: 0.8;
  outline: 3px solid rgb(244, 192, 94);
}

.choices button:active {
  opacity: 0.6;
}

#playerDisplay,
#computerDisplay {
  font-size: 25px;
}

#computerDisplay {
  margin-bottom: 22px;
}

.computer-mesg {
  position: absolute;
  bottom: 10px;
}

.overlay-result-display {
  font-size: 70px;
  width: 400px;
  margin: 0 auto;
  padding: 8px;
  font-style: italic;
  margin-bottom: 30px;
}

.try-again-button {
  padding: 10px 15px;
  position: static;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  background-color: rgb(244, 192, 94);
}

.main-result-display {
  color: rgb(244, 192, 94);
  margin-bottom: 10px;
  font-style: italic;
}

.overlay {
  position: fixed;
  text-align: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.show-overlay {
  display: block;
}

code {
  color: black;
}
